/vendor
/node_modules
/public/storage
/.idea
Homestead.yaml
Homestead.json
.env
_ide_helper.php
.vscode/
/storage
package-lock.json



/public/css/
/public/fonts/
/public/js/
/public/mix-manifest.json
